/layer/nodejs/node_modules/*
!/layer/nodejs/node_modules/public-holiday
!/layer/nodejs/node_modules/ecs-controller

# package directories
#node_modules
jspm_packages

# Serverless directories
.serverless
